psycopg2-binary
transformers
sentence-transformers
python-dotenv
flask
werkzeug
torch
requests
scikit-learn
xgboost
protobuf
sentencepiece
accelerate
bitsandbytes
peft
pandas
joblib
opensearch-py>=2,<3
tensorflow
huggingface-hub
pytest
